* {
  margin: 0;
  padding: 0;
}

#wrapper {
  font-family: sans-serif;
  margin: 0 auto;
  width: 1250px;
}

li {
  list-style-type: none;
}

.nondrop ul {
  padding: 20px 40px;
}

div.nondrop a {
  color: white;
  font-size: 125%;
  margin: 7px;
}

div.nondrop li:hover {
  transform: scale(1, -1);
  transition: 2s ease;
  cursor: pointer;
  cursor: hand;
}

div.nondrop a:hover {
  font-weight: bolder;
  background-color: slategrey;
  padding: 12px;
  border-radius: 10%;
}

.nav {
  background-image: url(../img/9T2X.gif);
  height: 75px;
  border-radius: 0px 0px 50px 50px;
  margin-bottom: 50px;
}

div.main-content {
  margin-top: 50px;
  width: 1225px;
}

div.placeholder{
    background-color: #C9EFFF;
    border-radius: 30px;
}

div.welcome{
    text-align: center;
    display: flex;
    width: 1225px;
    justify-content: center;
}

div.welcome h1{
    padding: 15px;
}

div.login-stuff{
    display: flex;
    justify-content: space-evenly;
    height: 250px;
    width: 1200px;
}

.form-group{
  text-align: center !important;
  margin-bottom: 2rem !important;
}

.spacer{
  margin-left: 175px;
}

.spacer_{
  margin-left: 110px;
}

form h1{
  margin: 10px 0px 25px 0px;
}
