<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style/style1.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <div class="nav">
            <div class="nondrop">
                <ul>
                    <li><a href="/" style="text-decoration: none;">Home</a></li>
                </ul>
            </div>
        </div>
        <!-- END OF NAV -->
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <!-- HEADER FOR MAIN -->
            <div class="placeholder">
                <div class="welcome">
                    <h1><div>Welcome {{session.user_name}}</div><span style='font-size:55px;'>&#129330;</span></h1>
                </div>
            </div>
            <!-- END OF HEADER -->
            <!-- MAIN BODY CONTENT-->
            <div id="card_section">
                {% for p in range(prayers | length) %}
                <!-- the below class can be changed to like show-info-->
                    <div class="card show-contact">
                        <img
                            src="{{url_for('static', filename='img/google_Avi.jpg')}}"
                            alt="profile avi"
                            class="card_img"
                        />
                        <p>Person Requesting: {{prayers[p].user_name}} </p>
                        <p>Prayer Request: {{prayers[p].content}} </p>
                    </div>
                {% endfor %}
            </div>
            <!-- END OF MAIN BODY CONTENT -->
        </div>
        <!--END OF MAIN-->
    </div>
    <button type="button" class="btn btn-primary btn-lg"><a href="/clear_session" style="color: white">Logout</a></button>
</body>
</html>